extends baseEmail

block content 
    p Hi #{firstName},
        p Forgot your password? Reset it and set a new one in the link below!
        p NOT YET IMPLEMETED.
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Reset your password
        p If you didn't forget your password, please ignore this email!🙏